* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* html {
   scroll-behavior: smooth;
} */

body {
   font-family: Montserrat, sans-serif;
   font-weight: 500;
}

.container {
   max-width: 1150px;
   margin: 0 auto;
   padding: 0 15px;
}

a {
   text-decoration: none;
   color: inherit;
}

li {
   list-style: none;
}

/* header */

.header {
   background: #FFEB80;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
}

.header__inner {
   height: 10vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu__burger {
   display: none;
}

.menu__list {
   display: flex;
}

.menu__item {
   margin: 0 6px;
}

.menu__link {
   padding: 5px 10px;
   border-bottom: 2px solid transparent;
   transition: all .3s ease;
   font-size: 14px;
   line-height: 17px;
   text-transform: uppercase;
   letter-spacing: 0.02em;
}

.menu__link:hover {
   border-bottom: 2px solid #000;
}

/* main */

/* header-bg */

.header-bg {
   height: 90vh;
   margin-top: 10vh;
   background-image: url(../images/header-bg.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-bg__inner {
   text-align: center;
}

.header-bg__inner h1 {
   font-weight: 800;
   font-size: 48px;
   line-height: 58px;
   color: #fff;
   margin-bottom: 64px;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #000;
}

.btn {
   display: inline-block;
   color: #fff;
   font-size: 18px;
   line-height: 22px;
   padding: 20px 50px;
   background: #2773E6;
   border-radius: 12px;
}

/* info */

.info {
   margin: 200px 0 100px;
}

.title {
   font-size: 40px;
   line-height: 50px;
}

.info__inner p {
   font-weight: 400;
   font-size: 24px;
   line-height: 34px;
   margin-top: 32px;
}

/* benefits */

.benefits {
   margin-bottom: 100px;
}

.benefits__list {
   margin-top: 32px;
}

.benefits__item+.benefits__item {
   margin-top: 24px;
}

.benefits__item {
   margin-left: 72px;
   font-weight: 400;
   font-size: 24px;
   line-height: 34px;
   position: relative;
}

.benefits__item::after {
   content: '';
   position: absolute;
   top: -6px;
   left: -72px;
   width: 48px;
   height: 48px;
   background: #FFF4BA;
   border-radius: 6px;
}

.benefits__item-img {
   position: absolute;
   top: 4px;
   left: -61px;
   z-index: 1;
}

/* start */

.start {
   margin-bottom: 100px;
}

.start__inner p {
   max-width: 682px;
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   margin-top: 32px;
}

/* present */

.present {
   margin-bottom: 100px;
}

.present__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.present__img img {
   width: 500px;
   height: 360px;
}

.present__content {
   margin-left: 70px;
}

.present__content p {
   margin-top: 24px;
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
}

/* graduate */

.graduate {
   margin-bottom: 100px !important;
}

.graduate__inner {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.graduate__content {
   width: 360px;
}

.graduate__content .title {
   width: 300px;
}

.graduate__content p {
   margin-top: 10px;
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
}

.graduate__order {
   margin-left: 20px;
   width: 360px;
   padding: 32px;
   box-shadow: 0px 2px 10px rgba(1, 21, 52, 0.16);
   border-radius: 12px;
}

.graduate__order-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 27px;
   margin-bottom: 8px;
}

.graduate__order-text {
   margin-bottom: 32px;
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
}

.graduate__order-price, .graduate__order-timing {
   margin-bottom: 32px;
   font-weight: 700;
   font-size: 18px;
   line-height: 27px;
}

.graduate__order-price span, .graduate__order-timing span {
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
}

/* reviews */

.reviews {
   margin-bottom: 100px;
}

.reviews__content {
   margin-bottom: 75px;
}

.reviews__icons {
   margin-top: 24px;
}

.reviews__cards {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.reviews__text {
   padding: 30px 40px 50px 25px;
   width: 360px;
   height: 285px;
   background-image: url(../images/Reviews-bg.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.reviews__user {
   display: flex;
   align-items: center;
}

.reviews__user img {
   border-radius: 50%;
   margin: 16px 15px 0 8px;
}

.reviews__username p {
   margin-top: 10px;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   color: #222222;
}

/* btn-course */

.btn-course {
   margin-bottom: 100px;
}

.btn-course__inner {
   text-align: center;
}

.btn-course__inner h2 {
   font-weight: 500;
   font-size: 40px;
   line-height: 50px;
   margin-bottom: 32px;
}

/* footer */

.footer {
   background: #FFEB80;
   padding: 62px 0 40px;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
   
}

.footer__col:nth-child(1) {
   position: relative;
   top: -30px;
}

.footer__col .logo img {
   width: 140%;
   position: relative;
   left: -49px;
}

.footer__item {
   margin-bottom: 24px;
}

.footer__col .menu__list {
   flex-direction: column;
}

.footer__col .menu__item {
   margin-bottom: 24px;
}

/* media */

@media (max-width: 1150px) {
   /* present */
   .present__img img {
      width: 100%;
      height: 100%;
      min-width: 320px;
   }
   /* graduate */
   .graduate {
      margin-bottom: 50px !important;
   }
   .graduate__content {
      width: 100%;
   }
   .graduate__order {
      margin: 10px;
   }
}

@media (max-width: 920px) {
   /* header */
   .logo {
      transform: translateX(-32px);
   }
   .header .menu__burger {
      display: block;
      width: 35px;
      height: 32px;
      display: flex;
      align-items: center;
      position: relative;
   }
   .header .menu__burger span, .header .menu__burger span::after, .header .menu__burger span::before {
      width: 35px;
      height: 4px;
      background: #000;
      border-radius: 10px;
   }
   .header .menu__burger span::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
   }
   .header .menu__burger span::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
   }
   .header .menu__list {
      position: absolute;
      top: 10vh;
      right: 0;
      flex-direction: column;
      justify-content: space-around;
      text-align: right;
      background: #FFEB80;
      border-radius: 0 0 0 20px;
      height: 30vh;
      transform: translateX(100%);
      transition: all .5s ease-in-out;
   }
   .header .menu__list.menu__list--active {
      transform: translateX(0);
   }
   /* header-bg */
   .header-bg {
      height: 60vh;
      margin-top: 10vh;
   }
   .header-bg__inner {
      text-align: left;
   }
   .header-bg__inner h1 {
      margin-right: 25%;
   }
   /* info */
   .info {
      margin: 100px 0 50px;
   }
   .title {
      font-size: 21px;
      line-height: 30px;
   }
   .info__inner p {
      font-size: 14px;
      line-height: 17px;
   }
   /* benefist */
   .benefits {
      margin-bottom: 50px;
   }
   .benefits__item {
      font-size: 14px;
      line-height: 17px;
      height: 34px;
      display: flex;
      align-items: center;
      margin-left: 60px;
   }
   .benefits__item::after {
      width: 36px;
      height: 36px;
      left: -60px;
   }
   .benefits__item-img {
      top: 2px;
      left: -52px;
      width: 21px;
      height: 21px;
   }
   /* start */
   .start__inner p {
      font-size: 14px;
      line-height: 17px;
      margin-top: 24px;
   }
   /* present */
   .present {
      margin-bottom: 50px;
   }
   .present__inner {
      flex-direction: column;
   }
   .present__content {
      margin-left: 0px;
   }
   /* graduate */
   .graduate__content p {
      font-size: 14px;
      line-height: 17px;
   }
   .graduate__order-title, .graduate__order-text, .graduate__order-price, .graduate__order-timing, .graduate__order-price span, .graduate__order-timing span {
      font-size: 14px;
      line-height: 17px;
   }
   .graduate__order-text {
      font-size: 14px;
      line-height: 17px;
   }
   .graduate__order-price {
      margin-bottom: 16px;
   }
   .graduate__order-text {
      margin-bottom: 16px;
   }
   .graduate__order-timing {
      margin-bottom: 2px;
   }
   /* reviews */
   .reviews__content {
      margin-bottom: 30px;
   }
   .reviews__icons {
      margin-top: 10px;
   }
   /* btn-course */
   .btn-course {
      margin-bottom: 50px;
   }
   .btn-course__inner h2 {
      font-size: 30px;
      line-height: 40px;
   }
   /* footer */
   .footer__col:nth-child(3){
      display: none;
      order: 2;
   }
}

@media (max-width: 540px) {
   /* header-bg */
   .header-bg {
      background-image: none;
      height: 40vh;
   }
   .header-bg__inner h1 {
      font-weight: 800;
      font-size: 26px;
      line-height: 32px;
      color: #222222;
      -webkit-text-stroke-width: 0px;
      margin-right: 0;
   }
   .header-bg .btn {
      min-width: 290px;
      text-align: center;
   }
   /* info */
   .info {
      margin: 50px 0;
   }
   /* reviews */
   .reviews__text {
      padding: 30px 40px 50px 25px;
      width: 360px;
      height: 285px;
   }
   /* btn-course */
   .btn-course__inner h2 {
      font-size: 24px;
      line-height: 30px;
   }
   /* footer */
   .footer{
      padding-bottom: 0px;
   }
   .footer__inner{
      flex-direction: column;
      align-items: center;
   }
   .footer .logo{
      display: none;
   }
   .footer__col:nth-child(2){
      display: none;
   }
}

@media (max-width: 360px) {
   /* header-bg */
   .header-bg {
      height: 40vh;
   }
   .header-bg__inner h1 {
      margin-bottom: 32px;
   }
   /* btn-course */
   .btn-course__inner h2 {
      font-size: 18px;
      line-height: 22px;
   }
}